<<div class="timer">
    Tiempo de juego: {{ infoService.getInfoTiempo()}}
</div>   
<div>
    <h1>Escoge una estrella</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Coordenada X</th>
                <th>Coordenada Y</th>
                <th>Coordenada Z</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estrella of estrellas">
                <td>{{ estrella.id }}</td>
                <td>{{ estrella.coordenadaX }}</td>
                <td>{{ estrella.coordenadaY }}</td>
                <td>{{ estrella.coordenadaZ }}</td>
                <td>
                    <button (click)="realizarViaje(estrella.id)">Viajar a esta estrella</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
