<div class="timer">
    Tiempo de juego: {{ infoService.getInfoTiempo()}}
</div>    
<div>
    <h1>Escoge un planeta</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let planeta of planetas">
                <td>{{ planeta.id }}</td>
                <td>{{ planeta.nombre}}</td>
                <td>
                    <button (click)="irAComprar(planeta.id)">Ver Venta o Compra</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>